body {
    font-family: Arial, sans-serif;
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse;
    background:pink;
    padding: 10px;
    border: 2px solid black;
}
td {
    padding: 10px;
}
input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
}
button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}